<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Mapping Home</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="dropdown">
                <button>Navigate <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">Home</a>
                    <a href="#">Setup Files</a>
                    <a href="#">Run Automation</a>
                    <a href="#">About</a>
                </div>
            </div>   
            <div>
                <span id="top-title">
                    Resource Mapping
                </span>
    
                <span class="top-login">
                    Login
                </span>
            </div>
        </header>
        <main>
            <p>
                hi
            </p>
        </main>
        <footer class="footer">
            <p>
                <span class="credits">
                    Developed by
                </span> 
                <a href="https://www.linkedin.com/in/luis-joseph-limgenco/">
                     Luis Joseph Limgenco 
                    <i class="fab fa-linkedin">
                    </i>
                </a>
            </p>
            <div>
                
            </div>
        </footer>
    </div>  
</body>
</html>